<div class="tab-pane active" role="tabpanel" id="step2">
    <div style="text-align: center;">
        <h1>Contact Details </h1>
       <div><input type="text" placeholder="Firstname"> </div>
       <br>
       <div><input type="text" placeholder="Lastname"> </div>
       <br>
       <div><input type="text" placeholder="EmailID"> </div>
       <br>
       <div><input type="text" placeholder="Phone Number"> </div>
    </div>


    <ul class="float-right">
        <li class="list-inline-item">
            <button type="button" routerLink="../Home"class="btn btn-outline-primary prev-step">Previous</button>
        </li>
        <li class="list-inline-item">
            <button type="button" routerLink="../Users" class="btn btn-primary next-step">Save and continue</button>
        </li>
    </ul>
</div>
