<div class="tab-pane active" role="tabpanel" id="step3">

       
        <p> <div style="text-align: center;">
            <h1>List of users</h1>
            <p>purus in massa tempor nec</p>
        </div>
    <ul class="float-right">
        <li class="list-inline-item">
            <button type="button"  routerLink="../Contacts" class="btn btn-outline-primary prev-step">Previous</button>
        </li>
        <li class="list-inline-item">
            <button type="button"  routerLink="../Logout" class="btn btn-outline-primary next-step">Skip</button>
        </li>
        <li class="list-inline-item">
            <button type="button"  routerLink="../Logout" class="btn btn-primary btn-info-full next-step">Save and continue</button>
        </li>
    </ul>
</div>