<div class="container py-3 my-3 border rounded shadow-sm">
  <div class="row">
    <section class="col-12">
      <ul class="nav flex-nowrap" role="tablist">
        <li role="presentation" class="nav-item">
          <a
            routerLink="Home"
            class="nav-link"
            data-toggle="tab"
            aria-controls="step1"
            role="tab"
            title="Step 1"
          >
            Home</a
          >
        </li>
        <li role="presentation" class="nav-item">
          <a
            routerLink="Contacts"
            class="nav-link"
            data-toggle="tab"
            aria-controls="step2"
            role="tab"
            title="Step 2"
          >
            Contacts
          </a>
        </li>
        <li role="presentation" class="nav-item">
          <a
            routerLink="Users"
            class="nav-link"
            data-toggle="tab"
            aria-controls="step3"
            role="tab"
            title="Step 3"
          >
            Users</a
          >
        </li>
        <li role="presentation" class="nav-item">
          <a
            routerLink="Logout"
            class="nav-link"
            data-toggle="tab"
            aria-controls="complete"
            role="tab"
            title="Complete"
          >
            Logout
          </a>
        </li>
      </ul>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="container-fluid">
        <app-home></app-home>
      </div>
      <div class="container-fluid">
        <app-contacts></app-contacts>
      </div>
      <div class="container-fluid">
        <app-users></app-users>
      </div>
      <div class="container-fluid">
        <app-logout></app-logout>
      </div> -->
    </section>
  </div>
</div>

